body {
  font-family: 'Roboto';
  font-size: 1em;
  font-weight: 400;
  display: grid;
  grid-template:
  "banner" 3%
  "main" auto
  "footer" auto
  / 100%;
}

body {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4 {
  margin: 1%;
}

a {
  text-decoration: none;
  color: white;
}

/*------------banner-----------*/

.banner {
  grid-area: banner;
  background-color: #fdd154;
  display: grid;
  grid-template-columns: 7% 63% 7% 7% 7% 7% 2%;
  grid-template-rows: auto;
  align-items: center;
  z-index: 1;
  box-shadow: 0px 4px 7px -3px rgba(0,0,0,0.75);
}

.menu-item {
  color: white;
  font-weight: 600;
  text-align: center;
  text-shadow: 2px 2px 2px #C88A12;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-out;
}

.menu-item img {
  height: 50%;
  width: 45%;
}

.menu-item:hover {
  background-color: #C88A12;
}

.logo img {
  width: 120%;
  height: 120%;
  padding-top: 3%;
  padding-left: 3%;
}

/*------------End_banner-----------*/

/*------------main-----------*/
.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto ;
}

/*------------End_main-----------*/

/*------------land_in-----------*/

.land-in {
  //background-color: red;
  position: relative;
}

.land-in img {
  width: 100%;
  height: 90vh;
}

.land-in-bg {
  height: 30vh;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  position: absolute;
  bottom: 0.5%;
}

.land-in-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  width: 100%;
  position: absolute;
  bottom: 3.5%;
}

.land-in-content {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.land-in:hover > .land-in-content{
  opacity: 1;
  //transition: opacity 1s ease-in-out;
}

.land-in-link img{
  width: 50%;
  height: 50%;
  margin-top: 3%;
  margin-left: 23%;
  margin-bottom: 4%;
  color: white;
}

.full-btn h1 {
 text-align: center;
 color: white;
}

/*------------End_land_in-----------*/

/*------------activities-----------*/
.activities {
  //background-color: green;
  padding-top: 2%;
  height: 50%;
  display: grid;
  grid-template-columns: 24% 24% 24%;
  grid-template-rows: auto 55vh;
  //grid-row-gap: 15%;
  justify-content: space-around;
  margin-bottom: 26vh;
}

.act-title {
  width: 70%;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  justify-self: center;
}

.act-title hr {
  margin: 4%;
  padding: 0;
}

.card-nb {
  display: grid;
  grid-template-rows: 50% 10% 40%;
  grid-template-columns: 100%;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
  transition: transform 0.2s ease;
  overflow: hidden;
}

.card-nb:hover {
  transform: scale(1.1);
}

.card-nb img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.title {
  //background-color: black;
  width: 100%;
  padding-top: 3%;
  //padding-bottom: 4%;
}

.title hr {
  width: 50%;
}

.description p {
  text-align: justify;
  padding-left: 2%;
  padding-right: 2%;
  align-self: center;
  padding-top: 8%;
}

/*------------End_services-----------*/

/*------------deps-----------*/

.deps-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  justify-items: center;
  margin-bottom: 25vh;
}

#deps-a {
  text-align: center;
  width: 60%;
  margin-bottom: 2%;
}

#deps-a h1 {
  margin-bottom: 5%;
}

.deps {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 100%;
  background-color: #ffc222;
  width: 100%;
  justify-items: center;
  justify-content: center;
}

.dep {
  width: 100%;
  height: 55vh;
  //background-color: blue;
  text-align: center;
  color: #515356;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.dep:hover {
  background-color: #515356;
}

/*------------End_deps-----------*/

/*------------events-----------*/

.events-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  margin-bottom: 5%; //distance from footer
}

.events-title {
  width: 60%;
  text-align: center;
  justify-self: center;
  margin-bottom: 3%;
}

.events-title h1 {
  margin-bottom: 5%;
}

.events {
  display: flex;
  justify-content: space-around;
}

.event {
  width: 35vw;
  height: 55vh;
  position: relative;
}

.event img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.event .bg {
  background-color: black;
  height: 20vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0.6;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.event .text {
  width: 80%;
  color: white;
  position: absolute;
  bottom: 6vh;
  left: 3vw;
  font-weight: 500;
  text-align: center;
}

.text h1 a:hover {
  color: #ffc222;
  text-decoration: underline;
}

/*------------End_events-----------*/

/*------------footer-----------*/

.footer {
  text-align: center;
  grid-area: footer;
  background-color: #ffc222;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
}

.logo-footer img {
  width: 15vw;
  height: 18vh;
}

.newsletter button {
  display: none;
}

.newsletter {
  position: relative;
}

.newsletter .btn {
  width: 1vw;
  height: 2vh;
  margin-left: auto; /*these two are for centering the div*/
  margin-right: auto;
  background-image: url("https://static.thenounproject.com/png/11587-200.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 6%;
  left: 72%;
}
/*------------End_footer-----------*/
